* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #f5f4ef;
  color: #534f50;
  text-align: center;
  font-size: 16px;
}

/*sizing*/

.container {
  margin: 0 auto;
  max-width: 1250px;
}

/* navigation */

nav,
footer {
  background-color: #5f5b5c;
}

.topnav {
  position: relative;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #f5f4ef;
  color: #5f5b5c;
}

.topnav-right {
  float: right;
}

/* hero */

.hero {
  background-image: url("../imgs/yarniahero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-size: 26px;
  background-color: #fcfcfc;
  color: #909090;
  padding: 50px;
}

/* statement */

.statement {
  padding: 30px 0;
}

/* shop preview */

.shop {
  background-color: #fff;
  padding: 30px 0;
}

.favourites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: 30px 0;
}

.faveitem {
  flex-direction: column;
}

.faveitem img {
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}

.faveitem img:hover {
  transform: scale(1.02);
}

.faveitem span {
  font-size: 22px;
  display: block;
  padding: 10px 0;
}

@media screen and (max-width: 550px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }
}
