* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #fdfbf8;
  color: #334437;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  color: #334437;
}

/*sizing*/

.container {
  margin: 0 auto;
  max-width: 90%;
}

/* navigation */

nav {
  width: 100%;
}

.nav-logo {
  padding: 10px 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  width: 90%;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  margin-top: 0;
  padding: 10px 0;
}

.nav-item {
  padding: 5px;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #334437;
  border-bottom: 2px solid #ff7e30;
}

.nav-item a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: #ff7e30;
  border-bottom: 1px dotted #334437;
}

/* hero */

.hero {
  background-image: linear-gradient(rgba(216, 216, 216, 0.4), rgba(166, 204, 171, 0.4)),
    url("../imgs/yarniahero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-size: 26px;
  background-color: #fcfcfc;
  padding: 50px;
  opacity: 0.8;
  width: 100%;
}

/* statements */

.statement-container {
  background-color: #e4ede6;
}

.statements {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.statement-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statement-box h3 {
  text-align: center;
}

.statement-box img {
  width: 50%;
}

/* buttons */

.button-main {
  margin-top: 30px;
}

.section-button {
  background-color: #ff7e30;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  transition: 0.3s;
}

.section-button:hover {
  color: #fff;
  background-color: #334437;
}

/* shopping */

.shopping-container {
  padding: 40px 0;
}

.shopping {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.shopping-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.shopping-box h3 {
  text-align: center;
  opacity: 0.8;
}

.shopping-box img {
  width: 80%;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.shopping-box img:hover {
  transform: scale(1.06);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* patterns */

.pattern-container {
  padding: 40px 0;
  background-color: #e4ede6;
}

.patterns {
  padding: 20px 0;
}

.pattern-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pattern-column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.pattern-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

/* footer */

.footer {
  padding: 20px 0;
}

.footer p {
  padding: 20px 0;
  font-size: 14px;
}

/* responsive */

@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 20px;
  }
  .statements {
    min-width: 30%;
    margin: 0 auto;
  }

  .shopping {
    flex-wrap: wrap;
  }

  .pattern-column {
    flex: 50%;
  }
}
@media screen and (max-width: 480px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  ul.nav-menu {
    padding: 0;
  }

  .hero-text {
    font-size: 18px;
  }

  .statements {
    flex-wrap: wrap;
  }

  .shopping {
    flex-direction: column;
  }

  .pattern-column {
    flex: 100%;
    max-width: 100%;
  }
}
